<table>
  <tr>
    <td><input class="first" type="button" name="MC" value="MC" (click)="PushValue('MC')"></td>
    <td><input class="first" type="button" name="MR" value="MR" (click)="PushValue('MR')"></td>
    <td><input class="first" type="button" name="M+" value="M+" (click)="PushValue('M+')"></td>
    <td><input class="first" type="button" name="M-" value="M-" (click)="PushValue('M-')"></td>
    <td><input class="first" type="button" name="average" value="avg" (click)="PushValue('avg')"></td>
  </tr>
  <tr>
    <td><input class="special" type="button" name="square" value="x2" (click)="PushValue('x2')"></td>
    <td><input class="special" type="button" name="pow" value="xy" (click)="PushValue('^')"></td>
    <td><input class="special" type="button" name="sinus" value="sin" (click)="PushValue('sin')"></td>
    <td><input class="special" type="button" name="cosinus" value="cos" (click)="PushValue('cos')"></td>
    <td><input class="special" type="button" name="tangens" value="tan" (click)="PushValue('tan')"></td>
  </tr>
  <tr>
    <td><input class="special" type="button" name="root" value="√" (click)="PushValue('root')"></td>
    <td><input class="special" type="button" name="10x" value="10x" (click)="PushValue('10x')"></td>
    <td><input class="special" type="button" name="log" value="log" (click)="PushValue('log')"></td>
    <td><input class="special" type="button" name="exp" value="Exp" (click)="PushValue('exp')"></td>
    <td><input class="special" type="button" name="mod" value="Mod" (click)="PushValue('%')"></td>
  </tr>
  <tr>
    <td><input class="special" type="button" name="four" value="↑" (click)="PushValue('error')"></td>
    <td><input class="special" type="button" name="CE" value="CE" (click)="PushValue('CE')"></td>
    <td><input class="special" type="button" name="C" value="C" (click)="PushValue('C')"></td>
    <td><input class="special" type="button" name="bcsp" value="<-" (click)="PushValue('bcsp')"></td>
    <td><input class="special" type="button" name="div" value="/" (click)="PushValue('/')"></td>
  </tr>
  <tr>
    <td><input class="special" type="button" name="pi" value="π" (click)="PushValue('pi')"></td>
    <td><input class="number" type="button" name="seven" value="7" (click)="PushValue('7')"></td>
    <td><input class="number" type="button" name="eight" value="8" (click)="PushValue('8')"></td>
    <td><input class="number" type="button" name="nine" value="9" (click)="PushValue('9')"></td>
    <td><input class="special" type="button" name="mul" value="X" (click)="PushValue('*')"></td>
  </tr>
  <tr>
    <td><input class="special" type="button" name="factorial" value="n!" (click)="PushValue('factorial')"></td>
    <td><input class="number" type="button" name="four" value="4" (click)="PushValue('4')"></td>
    <td><input class="number" type="button" name="five" value="5" (click)="PushValue('5')"></td>
    <td><input class="number" type="button" name="six" value="6" (click)="PushValue('6')"></td>
    <td><input class="special" type="button" name="sub" value="-" (click)="PushValue('-')"></td>
  </tr>
  <tr>
    <td><input class="special" type="button" name="negate" value="+-" (click)="PushValue('negate')"></td>
    <td><input class="number" type="button" name="one" value="1" (click)="PushValue('1')"></td>
    <td><input class="number" type="button" name="two" value="2" (click)="PushValue('2')"></td>
    <td><input class="number" type="button" name="three" value="3" (click)="PushValue('3')"></td>
    <td><input class="special" type="button" name="add" value="+" (click)="PushValue('+')"></td>
  </tr>
  <tr>
    <td><input class="special" type="button" name="open_bracket" value="(" (click)="PushValue('(')"></td>
    <td><input class="special" type="button" name="close_bracket" value=")" (click)="PushValue(')')"></td>
    <td><input class="number" type="button" name="zero" value="0" (click)="PushValue('0')"></td>
    <td><input class="special" type="button" name="comma" value="." (click)="PushValue('.')"></td>
    <td><input class="special" type="button" name="result" value="=" (click)="PushValue('=')"></td>
  </tr>
</table>
