input[type=text] {
  font-size: 32px;
  width: 503px;
  height: 7rem;
  background: white;
  border: 1px double #333;
  background-color: rgb(39, 39, 39);
  box-shadow: 0 0 5px #333;
  color: whitesmoke;
  outline: none;
  text-align: right;
  padding: 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
